* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Backgroundutama: #2c3e50;
  --Header: #00b4d8;
  --Section: rgba(44, 62, 80, 0.9);
  --TeksUtama: #ffffff;
  --TeksJudul: #00b4d8;
  --TeksAksen: #ffd700;
  --hovertombol: #39ff14;
  --hovertautan: #00b4d8;
  --hoverbox: #00b4d8;
  --begrond: #6b1b1c;
  --begr: #dd272e;
}

/* Navbar */
.navbar {
  position: fixed; /* Navbar tetap di atas */
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--Backgroundutama);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000; /* Pastikan navbar di atas elemen lain */
}

.judul {
  display: flex;
  align-items: center;
}

.judul h3 {
  margin-left: 10px;
  color: #e0dcdc;
  font-size: 1.5rem; /* Ukuran font judul */
}

.navbar img {
  width: 50px;
  height: auto;
}

.nav {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.nav a {
  text-decoration: none;
  color: rgb(93, 91, 91);
  background-color: yellow;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid rgba(224, 220, 220, 0.5);
  transition: background-color 0.3s ease;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  display: inline-block; /* Memastikan anchor tag sejajar */
}

.nav a:hover {
  background-color: #ffd700;
  color: #262424;
}

.navbar .navbar-extra a {
  margin: 0 0.5rem;
  display: inline-block;
  color: rgb(223, 223, 225);
}

.nav .aktive {
  background-color: #ffd700;
  color: #232323;
}

.navbar .navbar-extra a:hover {
  color: #ffd700;
}

.nav li {
  list-style-type: none; /* Menghilangkan bullet point */
  margin: 0; /* Menghapus margin default */
  padding: 0; /* Menghapus padding default */
}

.dropdown {
  position: relative;
}

.dropdown > a:hover {
  background-color: #ffd700;
  color: #262424;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: yellow; /* Warna background sama dengan menu lainnya */
  min-width: 150px;
  border-radius: 5px;
  border: none;
  z-index: 1;
}

.dropdown-content li a {
  display: block;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.dropdown-content li a:hover {
  background-color: #ffd700;
  color: #262424;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#hamburger-menu {
  display: none;
  cursor: pointer;
}

.row {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.row .peta {
  width: 100%;
  border: solid 0.5px #898787;
}

.footer {
  text-align: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--Backgroundutama);
  color: #edebeb;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Design */
/* Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 90%;
  }

  /* Navbar */
  #hamburger-menu {
    display: inline-block;
  }

  .nav {
    position: absolute;
    top: 100%; /* Sesuaikan dengan tinggi navbar */
    right: -100%;
    background-color: rgba(33, 32, 32, 0.9);
    width: 50%;
    height: 100vh; /* Tinggi penuh dikurangi tinggi navbar */
    flex-direction: column;
    align-items: center;
    transition: right 0.3s ease;
    padding: 1rem 0;
  }

  .nav.active {
    right: 0;
  }

  .nav a {
    width: 80%;
    text-align: center;
    margin: 0.2rem 0;
    padding: 10px;
    font-size: 1.2rem;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    display: block;
  }
  .dropdown {
    width: 100%;
  }
  .dropdown > a {
    margin-left: 10%;
  }

  .dropdown-content {
    margin-left: 10%;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgba(33, 32, 32, 0);
    border: none;
  }

  .dropdown-content:hover {
    background-color: rgba(33, 32, 32, 0);
    border: none;
  }

  .nav a:hover {
    background-color: #ffd700;
  }
}

/* Mobile */
@media (max-width: 600px) {
  html {
    font-size: 80%;
  }

  .judul h3 {
    font-size: 1.2rem; /* Perkecil ukuran font judul */
  }

  .awal h1 {
    font-size: 20px;
  }

  .nav a {
    font-size: 1rem; /* Perkecil ukuran font tautan */
  }
}
